{% extends 'base.html' %}

{% block navbar %}
<!-- NAVBAR ============================================ -->
<div class="navbar-wrapper">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Alice Hoyle</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('about') }}">About</a></li>
                        <li><a href="{{ url_for('contact') }}">Contact</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Jump to...<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('howicanhelp') }}">How I Can Help</a></li>
                                <li><a href="{{ url_for('pretendfriends') }}">Pretend Friends</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ url_for('experience') }}">Experience</a></li>
                                <li><a href="{{ url_for('groups') }}">Groups</a></li>
                                <li><a href="{{ url_for('resources') }}">Resources</a></li>
                                <li><a href="{{ url_for('socialmedia') }}">Social Media</a></li>
                                <li><a href="{{ url_for('testimonials') }}">Testimonials</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
{% endblock %}