{% extends 'navbar.html' %}

{% block title %}Resources{% endblock %}

{% block content %}
<div class="row">
    <h2 class="featurette-heading">Resources.<span class="text-muted"> For Free.</span></h2>
    <p class="lead">A number of sample lessons and activities ideas are set out below. They can be accessed for free via the <a href="http://www.tes.co.uk/mypublicprofile.aspx?uc=1468335">TES Resources Bank</a> with a TES login. Click on each panel below to access a resource.</p>
</div>
<div class="row">
    <div class="col-lg-4 col-sm-12">
        <h3>General PSHE Lessons</h3>
        <div class="list-group">
            <a class="list-group-item" href="http://www.tes.co.uk/teaching-resource/Drug-Education-dealing-with-peer-pressure-6120978/">
                <h4 class="list-group-item-heading">DRUG EDUCATION - DEALING WITH PEER PRESSURE</h4>
                <p class="list-group-item-text">This lesson uses eating “catfood” to explore peer pressure with the class in relation to unsafe substances.</p>
            </a>
            <a class="list-group-item" href="http://www.tes.co.uk/teaching-resource/Emotions-Snakes-and-Ladders-6121492/">
                <h4 class="list-group-item-heading">EMOTIONS SNAKES AND LADDERS</h4>
                <p class="list-group-item-text">This is a lesson plan sample. It originated from a scheme of work I developed for a Cognitive Behaviour Therapy (CBT) Project. The Project involved  developing emotional intelligence and resilience.</p>
                <br />
                <p class="list-group-item-text">Lesson aims:</p>
                <ul class="list-group-item-text">
                    <li>For students to play snakes and ladders with an emotional learning twist.</li>
                    <li>For students to continue to develop and reinforce skills in the positive way to deal with problems.</li>
                    <li>For students to reflect on their experiences.</li>
                </ul>
            </a>
            <a class="list-group-item" href="http://www.tes.co.uk/teaching-resource/Exploring-empathy-with-refugees-and-asylum-seekers-6145639/">
                <h4 class="list-group-item-heading">EXPLORING EMPATHY WITH REFUGEES/ASYLUM SEEKERS</h4>
                <p class="list-group-item-text">This is an incredibly powerful lesson that really gets students thinking about what it might mean to be a refugee or asylum seeker.</p>
                <br/>
                <p class="list-group-item-text">Be warned: some students may get upset (especially if they have experienced loss). Please carefully prepare the activity to manage this.</p>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <h3>Sex &amp; Relationship Lessons</h3>
        <div class="list-group">
            <a class="list-group-item" href="http://www.tes.co.uk/teaching-resource/Lesson-ideas-about-Sexual-Orientation-and-amp-Homophobia-6121374/">
                <h4 class="list-group-item-heading">LESSON IDEAS ABOUT SEXUAL ORIENTATION &amp; HOMOPHOBIA</h4>
                <p class="list-group-item-text">This resource was written for Sense CDs and is uploaded with their permission.</p>
                <br />
                <p class="list-group-item-text">There are many different starter, main and extension activities for covering sexual orientation and homophobia within your lessons</p>
            </a>
            <a class="list-group-item" href="http://www.tes.co.uk/teaching-resource/Activity-exploring-spread-of-STI-s-including-HIV-6120991/">
                <h4 class="list-group-item-heading">ACTIVITY EXPLORING SPREAD OF STIS INCLUDING HIV</h4>
                <p class="list-group-item-text">This activity is suitable for a secondary Science or PSHE lessons exploring the spread of disease including STIs. It is a simple but very effective lesson to do and you don’t need to be a science teacher or have a specialist science classroom (so long as you follow school and Health and Safety protocols) to deliver it. </p>
                <br />
                <p class="list-group-item-text">Students will see how far a disease spreads within the classroom and look at ways of reducing its spread. It is a particularly effective lesson when looking at HIV for World AIDS day.</p>
            </a>
            <a class="list-group-item" href="http://www.tes.co.uk/teaching-resource/Condom-Excuses-and-Responses-6145619/">
                <h4 class="list-group-item-heading">CONDOM EXCUSES AND RESPONSES</h4>
                <p class="list-group-item-text">A match-up activity. Students have to match an excuse for not using a condom with a possible suggested response. Aim is for young people to feel empowered if they ever are faced with negotiating condom use.</p>
            </a>
            <a class="list-group-item" href="http://www.tes.co.uk/teaching-resource/Condom-Olympics-6145626/">
                <h4 class="list-group-item-heading">CONDOM OLYMPICS</h4>
                <p class="list-group-item-text">Fun circus of activities exploring some of the limits of condoms. Can be completed in science, PSHE or D&amp;T lessons.</p>
            </a>
            <a class="list-group-item" href="http://www.tes.co.uk/teaching-resource/Condom-risk-analysis-6145630/">
                <h4 class="list-group-item-heading">CONDOM RISK ANALYSIS</h4>
                <p class="list-group-item-text">Worksheet to explore ways in which condoms can fail. Can also be used in conjunction with the "Condom Olympics" activity.</p>
            </a>
            <a class="list-group-item" href="http://www.tes.co.uk/teaching-resource/Pornography-tips-on-how-to-address-in-SRE-lessons-6287561">
                <h4 class="list-group-item-heading">PORNOGRAPHY - TIPS AND RESOURCES ON HOW TO ADDRESS IN SRE LESSONS.</h4>
                <p class="list-group-item-text">This is a teacher resource to help tackle the issue of sexualised media including pornography.</p>
                <br />
                <p class="list-group-item-text">The document also  references the two main commercially available educational resources dealing with pornography and provdes links to training courses and further reading.</p>
                <p class="list-group-item-text">It is a collaborative working document and will be updated as we go along so if you have any ideas or resources you want to share please do!</p>
             </a>
         </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <h3>Useful Things for Schools</h3>
        <div class="list-group">
            <a class="list-group-item" href="http://www.tes.co.uk/teaching-resource/For-Parents-10-Tips-for-talking-about-sex-6120880/">
                <h4 class="list-group-item-heading">FOR PARENTS: 10 TIPS FOR TALKING ABOUT SEX</h4>
                <p class="list-group-item-text">This provides parents with ten tips to aid talking about sex and relationships with their child. It also includes links to further resources that may help them. It can be used as a handout for an information event on PSHE or as part of a letter home.</p>
             </a>
             <a class="list-group-item" href="http://www.tes.co.uk/teaching-resource/Red-Green-Clickers-a-behaviour-management-strategy-6145636/">
                <h4 class="list-group-item-heading">RED GREEN CLICKERS: A BEHAVIOUR MANAGEMENT STRATEGY</h4>
                <p class="list-group-item-text">A behaviour management strategy tool for teachers to use. Particularly effective for last session on a Friday and students respond really well to it!</p>
             </a>
        </div>
    </div>
</div>
{% endblock %}