{% extends 'navbar.html' %}

{% block title %}Experience{% endblock %}

{% block content %}

<div class="pagecontent">
    <div class="row">
        <h2 class="featurette-heading">Experience.</h2>
        <hr />
        <div id="education" class="col-md-4 col-sm-12">
            <h3>Educating</h3>
            <ul class="">
                <li>Fast Track Teacher - passed threshold to UPS1 a year early.</li>
                <li>Obtained PSHE certificate within 18 months of starting teaching.</li>
                <li>Regularly rated 'Good' to 'Outstanding' in Lesson Observations.</li>
                <li>Became Head of Department after two years teaching and was employed by Enfield and Haringey as a part time Advisory Teacher within three years.</li>
            </ul>
        </div>
        <div id="training" class="col-md-4 col-sm-12">
            <h3>Training</h3>
            <ul class="">
                <li>Finalist for Sexual Health Professional of the year in the Brook/FPA Sexual Health Awards 2014.</li>
                <li>Roles within the PSHE Association and Sex Education Forum mean that knowledge and understanding of all aspects of PSHE (including SRE) is at the cutting edge of current legislation, guidance and practice.</li>
                <li>Co-ordinating the activities of the RSE Hub led to the project becoming income generating. The role involved leading on the development of several materials to quality assure the provision and practitioners of RSE. Such materials are currently being trialled regionally and nationally and have been very well received. </li>
                <li>Committed to lifelong learning and continuous professional development as evidenced by a PGCert in PSHE Education and an MSc in Sexual Health Education.</li>
                <li>Considerable experience in teaching and training of PSHE Education especially Sex &amp; Relationships Education both locally and nationally in the UK and experience teaching in South Africa.</li>
                <li>Written many training schemes including SENSE CDs comprehensive training scheme about SRE which is being delivered nationwide as demand arises.</li>
                <li>Managed successful "Healthy School Status" application.</li>
            </ul>
        </div>
        <div id="communication" class="col-md-4 col-sm-12">
            <h3>Communicating</h3>
            <ul class="">
                <li>First Children’s book ‘Pretend Friends’ which explains schizophrenia to children was published in Feb 2015 by Jessica Kingsley Publishers.</li>
                <li>Involved in the writing, development and implementation of many PSHE related policies both in school and for Enfield Local Education Authority, including Anti-Bullying, Healthy Schools, Sex and Relationships Education. Drug Education.</li>
                <li>Worked on national campaigns for sexual health including the Sex Education Forum’s 'Blueprint' campaign and Brook Charity 'Stuff' Campaign.</li>
                <li>Wrote the PSHE Association’s "Practical guidance for schools on addressing the impact of pornography and sex in the media".</li>
                <li>Advised the PSHE Association on the Consent Scheme of Work, the SRE Policy Advice, and the National SRE Guidance Document.</li>
                <li>Written many PSHE and SRE schemes of work, some of which have been published nationally. Wrote the Teachers booklet for "In Care, In School", a national PSHE resource about being in care.</li>
                <li>Personally discovered Gender Identity had been omitted between the January and July 2013 drafts of the new national curriculum. A discovery that ensured the Department of Education put it back into the final draft.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
