{% extends 'navbar.html' %}

{% block title %}Groups{% endblock %}

{% block content %}

<div class="pagecontent">
    <h2 class="featurette-heading">Groups.<span class="text-muted"> I have helped.</span></h2>
    <hr />
    <ul class="lead">
        <li>Somerset Children &amp; Young People Health and Wellbeing</li>
        <li>Reckitt Benkiser – Durex  - Do SRE for Schools</li>
        <li>Exchange Foundation – RSE Hub</li>
        <li>Sex and History Project</li>
        <li>Sex Ed Meds</li>
        <li>Norton Hill School</li>
        <li>In Care, In School (Bath Spa University)</li>
        <li>The Christopher Winter Project</li>
        <li>Hardenhuish School</li>
        <li>PSHE Association</li>
        <li>Sense Interactive</li>
        <li>Highlands School</li>
        <li>Enfield County Council – Healthy Schools and Teenage Pregnancy Partnership</li>
        <li>Haringey County Council – Public Health</li>
    </ul>
</div>
{% endblock %}
