{% extends 'navbar.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="pagecontent">
    <div class="row">
        <div class="col-md-12">
            <h2 class="featurette-heading">About.<span class="text-muted"> Alice Hoyle.</span></h2>
            <p class="lead text-justify"> I’m a PSHE Advisory Teacher (I teach, write, train, facilitate, advise, advocate and campaign on all aspects of Personal Social Health and Economic Education). I'm also a qualified science teacher who holds a MSc in Sexual Health Education, a post graduate diploma in Professional Practice in PSHE and a Department of Education PSHE Certificate.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <p class="lead text-justify">I was previously the SRE Adviser for the London Borough of Enfield and an HIV education adviser for the London Boroughs of Enfoeld and Haringey. I now work as the RSE Hub co-ordinator, as well as a freelance advisory teacher. I have recently worked for Do SRE for schools and Somerset Health In Schools.</p>
            <p class="lead text-justify">I have also written a children’s book explaining aspects of serious mental illness (psychosis) “Pretend Friends” (out February 2015). I am in the process of writing other PSHE related children’s books. My aim is to support parents to explain difficult issues to children in an age-appropriate way.</p>  
        </div>
        <div class="col-md-5">
            <img class="img-responsive center-block" src="{{ url_for('static', filename='images/PSHEAssoc.jpg') }}" alt="Alice Hoyle Image">
        </div>
    </div>
</div>
{% endblock %}