{% extends 'navbar.html' %}

{% block title %}Testimonials{% endblock %}

{% block content %}

<div class="pagecontent">
    <h2 class="featurette-heading">Testimonials.</h2>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <blockquote>
                <p class="lead text-justify">"It is always a pleasure working with Alice. She has worked tirelessly for the
                RSE Hub programme. With her expert input, we saw an increase in commissions and reach of the programme's work. She
                is an enthusiastic educator with considerable expertise in relationships and sex education.  Alice is very well
                connected and well organised and her efficient leadership on the symposium on Healthy Sexual Development we held
                last year made it our best event yet!"</p>
                <footer class="lead">Richard Forshaw, Director The Exchange Foundation</footer>
            </blockquote>
        </div>
        <div class="col-md-6 col-sm-12">
            <blockquote>
                <p class="lead text-justify">"I was recently asked how I, as a teacher, deal with various issues regarding sexual
                orientation, sexual prejudices etc and found myself giving this huge speech in how I have an inclusive classroom
                where anything that suggests inequality is challenged everyday. I discussed the importance of language in empowering
                children, giving them ownership of their mind and body and then I was asked 'who's been your inspiration?' And it was
                you, and how you always modelled inclusion and equality. Your influence has been huge in shaping my practice, so thank
                you so much. You are brilliant at what you do!"</p>
                <footer class="lead">An ex-student - now a teacher herself.</footer>
            </blockquote>
        </div>
        <div class="col-md-6 col-sm-12">
            <blockquote>
                <p class="lead text-justify">"Alice is a delight. The reality is that although Alice operates as a Key Opinion
                Leader (KOL) on one of our agencies largest projects, offering her expertise as an educator and an expert in
                Relationships and Sex Education, she feels more like a member of our team. She’s always there when we need her,
                she seeks us out and adds value to every aspect of the project – her fierce attention to detail means that
                she is even involved in our quality control process.  I admire and envy her responsiveness and have often
                wondered how efficient we could be if we had an Alice full-time. Alice’s contribution to the success of
                DO… SRE For Schools has been invaluable and we are incredibly proud to have partnered with her on such a
                quality SRE offering.</p>
                <footer class="lead">Gabrielle Sutherland, Business Unit Director, <a href="http://hivehealth.com/uk/">Hive Health</a></footer>
            </blockquote>
         </div>
        <div class="col-md-6 col-sm-12">
            <blockquote>
                <p class="lead text-justify">"In all matters to do with sex and relationships education (SRE), Alice has been a
                fantastic help to us. We have worked together over a number of years developing the SRE provided within the school.
                Sessions she delivers to students are always outstanding and the students really enjoy participating in them. I would
                not hesitate to strongly recommend her work."</p>
                <footer class="lead">Dr Gavin Matthews – Head of Citizenship and Life Skills, Enfield Grammar School</footer>
            </blockquote>
        </div>
        <div class="col-md-6 col-sm-12">
            <blockquote>
                <p class="lead text-justify">"Alice has been incredibly supportive to us while setting up our SRE programme in school.
                She has been very generous in providing advice and resources. The resources we have used in lessons have really engaged
                students and the feedback, from both teachers delivering lessons and students participating, has been extremely positive.
                I would like to thank Alice for everything she has done and would not hesitate to recommend her. I look forward to working
                with her in the future."</p>
               <footer class="lead">Rebecca Walsh, Graham School, Scarborough</footer>
            </blockquote>
        </div>
        <div class="col-md-6 col-sm-12">
            <blockquote>
                <p class="lead text-justify">“Fantastic range of useful resources.”</p>
                <p class="lead text-justify">“Felt empowered to teach SRE in a more practical way.”</p>
                <p class="lead text-justify">“Excellent activities to use in lessons.”</p>
                <p class="lead text-justify">“Excellent training- really useful.”</p>
                <p class="lead text-justify">“Excellent”</p>
                <footer class="lead">Recent training feedback from a Risk and RSE Training in a Wiltshire School where 100% of participants
                rated the training as very good or excellent.</footer>
            </blockquote>
        </div>
    </div>
</div>
<hr class="featurette-divider">
{% endblock %}
